.btn {
  width: 7em;
  height: 4em;
  line-height: 3.5em;
  text-align: center;
  border: 1px solid rgb(229, 232, 235);
  border-radius: 0.8em;
  background-color: rgba(21, 178, 229, 0.06);
  margin: 1em;
  cursor: pointer;
}

.text {
  color: #474747;
  font-weight: bold;
  font-size: 1.5em;
}
