.selectBox {
  width: 10em;
  height: 2em;
  margin: 1em 0.4em;
}

.sellNftText {
  margin-left: 0.4em;
}

.nftSelector {
  width: 100%;
  height: 100%;
}

.priceInputBox {
  margin-left: 0.4em;
}

.sellingNftBox {
}

.sellNftBtn {
  margin-left: 0.4em;
  margin-top: 1em;
}

.sellingNftText {
  margin-left: 0.4em;
}

.withdrawText {
  margin-left: 0.4em;
  font-weight: bold;
  font-size: 1.1em;
}

.withdrawInput {
  display: block;
  margin-left: 0.4em;
  margin-top: 0.6em;
}

.withdrawBtn {
  margin-left: 0.4em;
  margin-top: 0.2em;
}
